@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
$main-color: #9C69E2;

*{
    font-family: 'Inter';
}

.logo{
    div{
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #9C69E2;
        &:last-child{
            height: 40px;
            background: #F063B8;
            margin-left: 10px;
        }
    }
    
}

.signIn{
    height: 100vh;
}

.btn-signin{
    background: $main-color;
    color: #fff;
}